
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: var(--gray-5);
    font-family: 'Inter', sans-serif;
    color: var(--black-2);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
